
    body {
      background-color: #05010f;
      color: white;
      font-family: 'Orbitron', sans-serif;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100vh;
      margin: 0;
    }

    h1 {
      text-shadow: 0 0 15px #ff00c8, 0 0 30px #00ffe7;
      margin-bottom: 40px;
    }

    .vehiculos-container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 50px;
    }

    model-viewer {
      width: 400px;
      height: 400px;
      border-radius: 20px;
      box-shadow: 0 0 25px rgba(255, 0, 255, 0.4);
      background: radial-gradient(circle at top, #0a001a, #1b0033);
    }